.contenWraper {
    padding-top: 84px;
    padding-bottom: 84px;
}

.containerBase {
    width: 100% !important;
    padding-left: 4vw !important; // Ajusta este valor según sea necesario
    padding-right: 4vw !important;

    // background-color: red;
    @media (max-width: 414px) {
        h1 {
            font-size: 50px !important;
        }
    }
}

.containerAbout {
    font-size: 50px;
}

.basedAbout {
    margin-top: 18px !important;
    margin-bottom: 18px !important;
}

.hr {
    width: 87.833px;
    margin-top: 36px !important;
}

.textAbout {
    width: 1014px;

    strong {
        background-color: #1AC4CE;
        display: inline-block;
        height: 100% !important;
        // padding-top: -50px !important;
    }
}

// TABLE
.rdt_TableHeadRow {
    background-color: $primary-color !important;
    border: none !important;
}

.rdt_TableRow {
    height: 68px !important;

    p {
        margin: 0 !important;
        padding: 0 !important;
    }

    h4 {
        margin: 0 !important;
        padding: 0 !important;
        margin-top: 3px !important;
    }
}

// CONTACT
.contentContact {
    width: 100%;

    p {
        font-size: 19px;
        color: #FFFFFF;
        margin: 0 !important;
        padding: 0 !important;
        // margin-top: 10px;
        height: 36px !important;
    }

    a {
        font-size: 19px;
        color: #FFFFFF;
        display: inline-block;
        // margin-top: 9px !important;
        text-decoration: underline !important;
    }
}