.contenWraper {
    padding-top: 84px;
    padding-bottom: 84px;
}

.containerBase {
    width: 100% !important;
    padding-left: 4vw !important;
    padding-right: 4vw !important;
    @media (max-width: 414px) {
        padding-left: 6vw !important;
        padding-right: 6vw !important;
    }
}

.containerAbout {
    font-size: 50px;
}

.basedAbout {
    margin-top: 18px !important;
    margin-bottom: 18px !important;
}

.hr {
    width: 87.833px;
    margin-top: 36px !important;
}

.textAbout {
    width: 1014px;
    display: block;
    @media (max-width: 414px) {
        display: none;
    }
}

.textAboutMb {
    display: none;
    @media (max-width: 414px) {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        font-size: 45px;
        word-wrap: break-word;
    }
}

// Services
.servicesCont {
    // h2 {
    //     margin-bottom: 50px;
    // }
    .col-12 {
        margin-bottom: 50px;
    }
    li {
        font-size: 16px;
    }
}

// TABLE
.rdt_TableHeadRow {
    background-color: $primary-color !important;
    border: none !important;
}

.rdt_TableRow {
    height: 68px !important;
    @media (max-width: 414px) {
        height: 120px !important;
    }
    p {
        margin: 0 !important;
        padding: 0 !important;
    }
    h4 {
        margin: 0 !important;
        padding: 0 !important;
        margin-top: 3px !important;
    }
}

// CONTACT
.contentContact {
    width: 100%;
    p {
        font-size: 19px;
        color: #FFFFFF;
        margin: 0 !important;
        padding: 0 !important;
        height: 36px !important;
        &:last-of-type {
            @media (max-width: 414px) {
                margin-bottom: 50px!important;
            }
        }
    }
    a {
        font-size: 19px;
        color: #FFFFFF;
        text-decoration: underline !important;
        display: inline-block;
        // margin-top: 10px!important;
        cursor: pointer;
    }
}