body {
    background-color: $primary-color;
    color: $text-color;
}

h1 {
    font-family: 'ITC Avant Garde Gothic Bold';
    font-size: 67px;
    line-height: 88px;
    font-weight: 700;
    margin: 0px;
    margin-top: 36px;
    margin-bottom: 36px;
    @media (max-width: 430px) {
        font-size: 50px;
        line-height: 65px;
    }
}

h2 {
    font-family: 'ITC Avant Garde Gothic Bold';
    font-size: 37px;
    line-height: 51px;
    font-weight: 700;
    @media (max-width: 430px) {
        font-size: 29px;
    }
    @media (min-width: 431px) and (max-width: 768px) {
        font-size: 27px;
    }
}

h4 {
    font-family: 'ITC Avant Garde Gothic Bold';
    font-size: 18px;
    @media (max-width: 430px) {
        font-size: 16px;
    }
}

mark {
    background-color: #1AC4CE;
    color: #FFFFFF;
    display: inline-block;
    align-self: center;
    line-height: 0.60;
}

p {
    font-family: "omnes";
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    @media (max-width: 430px) {
        font-size: 21px;
        line-height: 40px;
    }
    @media (min-width: 431px) and (max-width: 768px) {
        font-size: 19px;
    }
}

li {
    font-family: "omnes";
    font-weight: 300;
    font-size: 19px;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    font-family: "omnes";
    font-weight: 300;
}

//navbar 25  51