$primary-color: #4565FF;
$text-color: #FFFFFF;
@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url("../../../src/assets/font/ITC\ Avant\ Garde\ Gothic\ Pro-Medium.otf");
    // src: url("../../font/ITC\ Avant\ Garde\ Gothic\ Pro-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Bold';
    src: url("../../../src/assets/font/ITC\ Avant\ Garde\ Gothic\ Pro-Bold.otf");
    // src: url("../../font/ITC\ Avant\ Garde\ Gothic\ Pro-Bold.otf") format("opentype");
}

@import url('https://fonts.cdnfonts.com/css/omnes-2');