.navBar {
    display: flex;
    justify-content: space-between;
    padding: 25px 51px;
    align-items: center;
    // margin-bottom: 80px;
    margin-bottom: 106px;

    &__home {
        margin: 10px;
        font-size: 33px;
        font-weight: 900;
    }

    &__links {
        margin: 10px;
        font-size: 20px;

        a {
            margin-left: 20px;
        }
    }
}