.profilePic {
    width: 620px;
    height: 606px;

    @media (max-width: 430px) {
        width: 343px;
        height: 350px;
        display: flex;
    }

    @media (min-width: 431px) and (max-width: 768px) {
        width: 443px;
        height: 450px;
        margin: auto;
    }
}

.imgProfileCont {
    display: flex;
    justify-content: center;
}

.profileText {
    p {
        font-size: 26px;
        line-height: 46px;
    }
}